@tailwind base;
@tailwind components;
@tailwind utilities;

.glassy-panel {
    background-color: rgba(255, 255, 255, 0.45);
    border-radius: 0 0 16px 16px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: background-color ease 0.3s;
}

.glassy-panel:hover {
    background-color: rgba(255, 255, 255, 1);
}

h1 {
    font-size: 1.5rem;
}

h3 {
    font-weight: bold;
}
